@charset "utf-8";
/* CSS Document */

body
{
	background:#C0C0C0;	
}



#nav
{
	
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	background:#FF9852;
	padding-bottom: 5px;
	width: 30%;
	margin: auto;
	text-align: center;
	border-radius:40px;
	font-size: 14pt;
	box-shadow: 1px 1px 1px;
}
#nav ul
{
	text-align: center;
	margin: auto;
}
#container
{
	position: 100px;
}

#nav, ul li a 
{
	text-decoration: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 30px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		
}
#nav ul li
{list-style-type: none; display:inline;}

#container
{
	
	background:#FFFFFF;
	width: 50%;
	text-align: center;
	margin:auto;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	box-shadow: 1px 1px 1px;
	
}
#content
{
	padding-top: 10px;
	margin-left: 0px;
	margin-bottom: 20px;
}
#content h2
{
	margin-bottom: 20px
}

.left
{
	text-align: left;
	padding-left:30px;
	padding-right:10px;
}

.profile
{
	width: 200px;
	padding-top:30px;
	
}